 <!-- add an task form -->
 <script src="/static/js/jquery-2.2.4.js"></script>
<script src="/static/bootstrap/js/collapse.js"></script>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Add an Event</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <input class="form-control" placeholder="Task title" v-model="task.title">
                </div>

                <div class="form-group">
                    <textarea class="form-control" placeholder="Task notesk" v-model="task.notes"></textarea>
                </div>

                <button class="btn btn-primary" v-on:click="addTask">Submit</button>
            </div>
        </div>
    </div>

    <!-- show the tasks -->
    <div class="col-sm-6">
        <div id="task-list" class="list-group">
            <div class="panel" v-for="task in tasksContainer.tasks">
                <a href="#btn-group-{{ $index }}"  data-parent="#task-list" data-toggle="collapse" aria-expanded="false" aria-controls="btn-group-{{ $index }}">
                    <h4 class="list-group-item-heading">
                        {{ task.title }}
                    </h4>

                    <p class="list-group-item-text" v-if="task.notes">
                        {{ task.notes }}
                    </p>


                    <!-- <button class="btn btn-xs btn-danger" v-on:click="deleteTask($index)">Delete</button> -->
                </a>
                <div class="collapse" id="btn-group-{{ $index }}">
                    <br>
                    <button class="btn btn-xs btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Done
                    </button>
                    <button class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button class="btn btn-xs btn-danger" v-on:click="deleteTask($index)">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
