 <!-- add an task form -->
<script src="/static/bootstrap/js/collapse.js"></script>

<template id="modal-template">
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-container">
            <slot></slot>
        </div>
    </div>
</template>

<!-- template for task deletion modal dialog -->
<template id="confirmation-modal-template">
    <modal v-show="show">
        <div class="modal-header">
            <h3 class="modal-title">{{ title }}</h3>
        </div>

        <div class="modal-body">
            <!-- Are you sure want to delete task number {{ index }}?-->
            {{ message }}
        </div>

        <div class="modal-footer text-right">
            <button class="btn btn-secondary" v-on:click="onCancel()">
                Cancel
            </button>
            <button class="btn btn-{{ type }}" v-on:click="onConfirm(index)">
                Yes, I'm sure
            </button>
        </div>
    </modal>
</template>

<!-- template for edit task modal dialog -->
<template id="edit-task-modal-template">
    <modal v-show="show">
        <div class="modal-header">
            <h3>{{ title }}</h3>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" placeholder="Task title" v-model="task.title" value="{{ task.title }}">
            </div>

            <div class="form-group">
                <textarea class="form-control" placeholder="Task notes" v-model="task.notes" >{{ task.notes }}</textarea>
            </div>
        </div>

        <div class="modal-footer text-right">
            <button class="btn btn-secondary" v-on:click="onCancel()">
                Cancel
            </button>
            <button class="btn btn-{{ type }}" v-on:click="onConfirm(index)">
                Save
            </button>
        </div>
    </modal>
</template>

<confirmation-modal></confirmation-modal>
<edit-task-modal></edit-task-modal>

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Add an Event</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <input class="form-control" placeholder="Task title" v-model="task.title">
            </div>

            <div class="form-group">
                <textarea class="form-control" placeholder="Task notesk" v-model="task.notes"></textarea>
            </div>

            <button class="btn btn-primary" v-on:click="addTask">Submit</button>
        </div>
    </div>
</div>

<!-- show the tasks -->
<div class="col-sm-6">
    <div id="task-list" class="list-group">
        <div class="panel" v-for="task in tasksContainer.tasks">
            <a href="#btn-group-{{ $index }}"  data-parent="#task-list" data-toggle="collapse" aria-expanded="false" aria-controls="btn-group-{{ $index }}">
                <template v-if="task.done">
                    <h4 class="list-group-item-heading">
                        <s>
                            {{ task.title }}
                        </s>
                    </h4>

                    <p class="list-group-item-text" v-if="task.notes">
                        <s>
                            {{ task.notes }}
                        </s>
                    </p>
                </template>
                <template v-else>
                    <h4 class="list-group-item-heading">
                        {{ task.title }}
                    </h4>

                    <p class="list-group-item-text" v-if="task.notes">
                        {{ task.notes }}
                    </p>
                </template>
            </a>
            <div class="collapse" id="btn-group-{{ $index }}">
                <br>
                <button class="btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Done
                </button>
                <button class="btn btn-xs btn-info" v-on:click="showEditTaskModal($index)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button class="btn btn-xs btn-danger" v-on:click="showDeleteTaskModal($index)">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </div>
        </div>
    </div>
</div>
